html,
body {
  font-size: 14px;
  font-family: 'Roboto Regular', sans-serif;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
#content {
  flex: 1 0 auto;
}
#content .title-page {
  font-size: 2em;
  color: #004e90;
  font-family: 'Roboto Bold', sans-serif;
  text-transform: uppercase;
}
footer {
  flex: 0 0 auto;
}
img {
  width: 100%;
  height: auto;
}
li {
  list-style-type: none;
}
.mobile-social {
  display: none!important;
}
.top-line {
  justify-content: space-between;
  background: #000000;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  height: 53px;
}
.top-line .login i {
  margin-right: 10px;
}
.top-line .login a:last-child {
  margin-left: 20px;
}
.top-line .wrap-header-link {
  justify-content: space-between;
}
.top-line a {
  color: #ffffff;
  font-size: 1em;
  font-family: 'Roboto Regular', sans-serif;
}
.top-line .contact-info {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  align-items: center;
  -webkit-box-align: center;
}
.top-line .contact-info a {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
}
.top-line .contact-info ul {
  padding: 0;
  margin: 0;
}
.top-line .line-menu li {
  display: inline-block;
  margin: 0 20px;
}
.top-line .line-menu li:first-child {
  margin-left: 0;
}
.top-line .line-menu li:last-child {
  margin-right: 0;
}
.tell-wrap {
  position: relative;
  text-align: right;
}
.tell-wrap i {
  position: absolute;
  top: 5px;
  left: 28%;
  font-size: 24px;
  color: #004e90;
  margin-right: 15px;
}
.tell-wrap a {
  display: none;
}
.tell-wrap a,
.tell-wrap p {
  font-size: 1.23em;
  text-decoration: none;
  padding-left: 16px;
  margin: 0;
  font-family: 'Roboto Black', sans-serif;
  color: #151515;
  line-height: 28px;
}
.tell-wrap a:first-child,
.tell-wrap p:first-child {
  margin-bottom: 17px;
}
.line-logo-ets {
  padding-top: 50px;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  align-items: center;
  -webkit-box-align: center;
}
#wrap-cart {
  transition: 0.5s ease-in-out;
  background: #004e90;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  position: relative;
  border-radius: 50%;
}
#wrap-cart.fixed {
  position: fixed;
  right: 25px;
  top: 60px;
  z-index: 99;
  transition: 0.5s ease-in-out;
}
#wrap-cart i {
  font-size: 18px;
  color: #ffffff;
}
#wrap-cart:hover {
  background: #fd3a3a;
}
#wrap-cart span {
  position: absolute;
  right: -5px;
  top: -5px;
  background: #363636;
  color: #fff;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  justify-content: center;
}
.search-wrap {
  background: #fff;
  height: 48px;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  justify-content: flex-end;
  position: relative;
  color: #b7b8b3;
}
.search-wrap input {
  width: 100%;
  border: 1px solid #dedede;
  padding: 0;
  height: 100%;
  padding: 8px 37px 9px 15px;
  border-radius: 20px;
}
.search-wrap .btn {
  cursor: pointer;
  border: none;
  background: #004e90;
  width: 68px;
  height: 100%;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  color: #fff;
  font-size: 16px;
  justify-content: center;
  border-top-right-radius: 40%;
  border-bottom-right-radius: 40%;
  position: absolute;
  top: 0;
  right: 0;
}
.logo img {
  width: 100%;
  max-width: 215px;
}
#category-menu {
  background: #004e90;
  border-top: 5px solid #2a2a2a;
  padding: 8px 8px 8px 15px;
}
.icon-menu {
  display: none;
  cursor: pointer;
  color: #fff;
  text-align: left;
}
.icon-menu span {
  font-family: 'Roboto Black', sans-serif;
  padding: 8px 10px;
  font-size: 18px;
}
.icon-menu:before {
  font-size: 30px;
}
.icon-menu:hover {
  transition: 0.5s ease-in-out;
  background: #000;
}
.close {
  display: none;
}
.wrap-menu.fixed {
  position: fixed;
  -webkit-box-shadow: 2px 13px 10px -6px rgba(0, 1, 1, 0.16);
  -moz-box-shadow: 2px 13px 10px -6px rgba(0, 1, 1, 0.16);
  box-shadow: 2px 13px 10px -6px rgba(0, 1, 1, 0.16);
  top: 0;
  margin: 0;
  background: #f3f3f3;
  width: 100%;
  left: 0;
  z-index: 9999;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  justify-content: normal;
  border-bottom: none;
  transition: 0.5s ease-in-out;
}
.wrap-menu.fixed ul {
  padding: 0;
  margin: 0;
}
.wrap-menu {
  padding: 8px 0;
  background: #f3f3f3;
  border-bottom: 4px solid #fff;
  margin-top: 50px;
  transition: 0.5s ease-in-out;
}
.wrap-menu .container {
  justify-content: space-between;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  align-items: center;
  -webkit-box-align: center;
}
.wrap-menu ul {
  padding: 0px 0;
  margin-bottom: 0;
  margin-top: 0;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  align-items: center;
  -webkit-box-align: center;
}
.wrap-menu li {
  display: inline-block;
  text-align: center;
  height: 52px;
  padding: 10px 20px;
  transition: 0.5s ease-in-out;
}
.wrap-menu li:first-child {
  margin-left: 0;
}
.wrap-menu li:last-child {
  margin-right: 0;
}
.wrap-menu li:hover {
  background: #004e90;
  transition: 0.5s ease-in-out;
}
.wrap-menu li:hover a {
  color: #fff;
  transition: 0.5s ease-in-out;
}
.wrap-menu li:hover img {
  transition: 0.5s ease-in-out;
  filter: brightness(0) invert(1);
}
.wrap-menu nav li a {
  font-size: 1.438em;
  color: #151515;
  font-family: 'Roboto Bold', sans-serif;
  position: relative;
  transition: 0.5s ease-in-out;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  align-items: center;
  -webkit-box-align: center;
}
.wrap-menu nav li a img {
  width: auto;
  padding-right: 8px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 24px;
}
.section-name {
  font-size: 2em;
  font-family: 'Open Sans bold', sans-serif;
  color: #0e5796;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  text-align: center;
  position: relative;
  margin-top: 90px;
  margin-bottom: 50px;
  text-transform: uppercase;
  justify-content: space-between;
  align-items: center;
  -webkit-box-align: center;
  white-space: nowrap;
}
.section-name:before {
  margin-right: 38px;
}
.section-name:after {
  margin-left: 38px;
}
.section-name:before,
.section-name:after {
  content: " ";
  background: #dedede;
  display: block;
  width: 100%;
  height: 2px;
}
.bread {
  padding-left: 23px;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  flex-wrap: wrap;
  width: 100%;
  height: 38px;
  background: #f3f3f3;
  margin-top: 23px;
  margin-bottom: 5px;
}
.bread li {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  align-items: center;
  -webkit-box-align: center;
}
.bread li a {
  font-size: 16px;
  font-family: 'Roboto Bold', sans-serif;
  color: #151515;
}
.bread li::after {
  content: ">";
  display: block;
  margin: 0 10px;
}
.bread li:last-child::after {
  content: none;
}
.flex {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  align-items: center;
  -webkit-box-align: center;
}
a {
  text-decoration: none;
  transition: 0.5s ease-in-out;
  color: #0099fc;
}
.transition {
  transition: 0.5s ease-in-out;
}
a:hover {
  color: #0099fc;
  transition: 0.5s ease-in-out;
}
.box-shadow {
  -webkit-box-shadow: 2px 13px 10px -6px rgba(0, 1, 1, 0.16);
  -moz-box-shadow: 2px 13px 10px -6px rgba(0, 1, 1, 0.16);
  box-shadow: 2px 13px 10px -6px rgba(0, 1, 1, 0.16);
}
.btn {
  background: #004e90;
  transition: 0.5s ease-in-out;
  border: none;
}
.btn:hover {
  background: #fd3a3a;
  color: #fff !important;
  transition: 0.5s ease-in-out;
  -webkit-box-shadow: 2px 13px 10px -6px rgba(0, 1, 1, 0.16);
  -moz-box-shadow: 2px 13px 10px -6px rgba(0, 1, 1, 0.16);
  box-shadow: 2px 13px 10px -6px rgba(0, 1, 1, 0.16);
  cursor: pointer;
}
