

@media(min-width: 1520px){
        //footer
  footer {
    p,a{
        font-size: 19px;
    }
   h5{
       font-size: 1em;
   } 
}
  
   .how-home{
       
       .container{
           padding-left: 18%;
           .item-how p{
            font-size: 13px;
            margin-top: 20px;
           }
       }
   }
   .relative img{
    left: -16%;
   
}
   
   }


   @media(min-width: 1800px){
       #content p{
           font-size: 18px;
       }
       //about
       .about-how{
           i{
               font-size: 63px;
           }
           .container .item-how p{
               font-size: 18px;
           }

       }
       //sertificate
       .sertificate p{
           font-size: 18px;
       }
       //order
       .number{
           .text-order{
               h4{
                   font-size: 28px;
               }
               p{
                   font-size: 18px;
                   a{
                       font-size: 18px;
                   }
               }
           }
       }
       //contact
       .recw{
           font-size: 22px;
       }
       .contact-info p, a, i{
           font-size: 22px;
       }
       .contact-page{
        p{
            font-size: 18px;
        }
    }
    .info-contact{
        p{
            font-size: 22px;
           
        }
    }
  // form-subc
  .home{
    padding-left: 22%;

}
.relative img{
    left: -30%;
    width: 590px;
}
.text-subscrb{
     
    h4{
        font-size: 1em
    }
    p{
        font-size: 0.9em;
        margin:0;
    }
}
.how-home{
       
    .container{
        padding-left: 13%;
        .item-how p{
         font-size: 13px;
         margin-top: 20px;
        }
    }
}

   }

 





@media(max-width: 1440px){

  
  

    .top-line .line-menu li{
       margin: 0 11px;
       
    }
    .wrap-item{
        padding: 15px 0;
        height: 290px;
        .nameCat{
            font-size: 1em;
        }
        img{
            width: 140px;
        }
    }
    .wrap-menu{
        margin-top: 30px;
    }
    .line-logo-ets{
        padding-top: 30px;
    }
    .search-wrap{
        height: 42px;
        .btn{
            height: 100%;
        }
    }

    
}
@media(min-width: 1160px){
    section.about-page .wrap-item .nameCat{
        font-size: 1em;
    }    

    .text-subscrb{
     
        h4{
            font-size: 0.98em;
        }
        p{
            font-size: 0.82em;
            margin:0;
        }
    }
    .how-home .container{padding-left: 415px;}
    .how-home{
        padding-top: 30px;
        padding-bottom: 40px;
    }
    .home {
        padding-left:415px;
    }
    .relative img{
        left: -4%;
        width: 455px;
    }

}
@media(max-width: 1280px){
   
    footer p, a{
        font-size: 17px;
    }
   
  
    .top-line a,
    .wrap-menu nav a{
        font-size: 14px;
    }
    .wrapAbout .mapWrap .grad{
        margin-right: 40px;
    }
    .slick-prev{
        left: 0!important;
        z-index: 99;
    }
    .slick-next{
        right: 0!important;
        z-index: 99;
    }
    .wrap-menu{
       display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Chrome */
	display: flex; 
        justify-content: center;
    }
    .wrap-menu nav li{
        padding: 10px;
        a{
            font-size: 18px;
        }
    }
    .line-logo-ets{
        padding-top: 20px;
    }
  
  
  
   
}
@media(max-width: 1180px){
    .tell-wrap a{
        margin: 0;
    }
    .how-home .container .item-how img{
        width: 50px;
    }
    
    .top-line .line-menu li{
        margin:0 5px;
    }
    footer .item-foter{
        width: auto;
        img{
            max-width: 200px;
        }
    }
  
    .wrapAbout .mapWrap .grad{
        perspective: none;
        margin: 0;
    }
    
   
    
 
    .tell-wrap i{
        left: 37px;
    }
    footer .flex{
        justify-content: space-between;
        .marg{
            margin: 0;
        }
    } 
}
@media(max-width:1150px){
    .wrpa-subscrb,
    .how-home .container{
        padding-left: 15px;
    }

    .relative img{
       display: none;
    }
}

@media(max-width:992px){
    .text-addition p span{
        font-size: 25px;
        margin-right: 5px;
    }
    #wrap-cart{
        margin-left: 15px;
    }
    .text-subscrb{
             h4{
                 font-size: 1em;
             }
             p{
                 font-size: 0.98em;
             }
    } 
    .how-home .container{
        padding: 0 15px;
      
    }
    .home{
        padding-left: 0;
        .col-12{
            padding: 0 15px;
        }
    }
    .relative img{
        display: none;
    }
    .about h1{
        max-width: 100%;
       
    }
    
   

    //new
    .search-wrap{
        input{
            height: 100%;
        }
        #subscrube{
            width: auto;
            height: 100%;
        }
        .btn{
           
            width: 50px;
        }
    }
    .tell-wrap {
       a{
           font-size: 16px;
           padding: 0;
           
           display: block;

       }
       p{
           display: none;
       }
       i{
           display: none;
       }

    }
    //new
    #wrap-popup .popup-body .popup-form{
        padding: 20px 15px;
    }
    .doctor-item{
        img{
            max-width: 300px;
            margin:  0 auto 20px;
            display: block;
        }
        p{
            font-size: 14px;
            
        }
        .name{
            font-size: 16px;    
        }
    }
     
    .tehnology h4, h3,
    .rewiew-wrap h4,
    .sience{
        font-size: 20px;
        text-align: center;
    }
    .wrap-item{
        height: 320px;
       
    }
    .rewiew-wrap .btn{
        max-width: 200px;
        margin: 0 auto;
        padding: 5px 10px;  
    }
    .login{
        width: 100%;
        text-align: left;
        justify-content: flex-end;
    }
    //menu top line
   .top-line .contact-info{
        position: absolute;
        top: 46px;
        width: 100%;
        background: #151515;
        left: 0;
        z-index: 9;
        display: none;
        ul{
            .flex;
            flex-direction: column;
            padding: 15px 15px 30px 15px;
            width: 100%;
            li{
                height: 30px;
                width: 100%;
                border-bottom: 1px solid #272626;
                .flex;
                align-items: center;
                a{
                    display: block;
                    
                }
            }
        }
    }
    //mobile-menu
    .wrap-menu.fixed{
        display: block;
    }

    nav ul.show{
        position: fixed;
        left: 0;
        top: 0;
        background: rgba(0,0,0,0.9);
        width: 100%;
        height: 100vh;
        overflow-y: auto;
       display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Chrome */
	display: flex; 
        justify-content: center;
        align-items: center;
        -webkit-box-align:center;
        flex-direction: column;
        z-index: 9999;
        padding: 0;
        margin: 0;  
        .transition;
        .close{
            position: absolute;
            right: 0;
            left: 10px;
            font-size: 32px;
            font-weight: bold;
            display: block;
            color: #ececec;
            top: 15px;
            b{
                font-size: 14px;
                padding: 8px 0;
            }
           
            cursor: pointer;
            &:hover{
                color: #ffffff;
            }
        }
        li{
            width: 100%;
            text-align: center;
            line-height: 18px;
            margin: 15px 0;
            max-width: 380px;
            a{
                font-size: 18px;
                color: #ffffff;
               display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Chrome */
	display: flex; 
                justify-content: center;
                align-items: center;
                -webkit-box-align:center;
                &:hover:before{
                    content:none;
                }
            }
        }

    }
    .wrap-menu {
        display: block;
        
        ul{
            display: none;
        }
    }
   
    .icon-menu{
        display: block;
    }
    nav{
        width: 100%;
        margin-left: -15px;
    }
    .botton .number{
        margin-top: 30px;
        i{
            font-size: 30px;
            margin-right: 15px;
        }
    }
    .botton p{
        font-size: 14px;

    }
}
@media(max-width:882px){
    .text-addition p{
        font-size: 12px;
    }
  
    #wrap-popup .popup-body .popup-form    {
       .left{
           width: 100%;
           padding: 0;
           &:after{
               content: none;
           }
       } 
   
     .right{
        width: 100%;
        padding: 0;
    }
} 
    .wrap-item{
        height: 240px;
       
    }
    .itemImage{
        img{
            width: 280px;
        }
       
    }
    .wrap-social {
        a{
            max-width: 115px;
            padding: 6px 11px;
            font-size: 14px;
        }
        p{
            margin: 15px 0;
            font-size: 14px;
        }
        .namePost{
            font-size: 16px;
        }
    }
}
@media(max-width:769px){
  
    .row-info-cont h4{
        font-size: 20px;
    }
    .info-contact p{
        font-size: 14px;
    }
    .recw {
        font-size: 15px;
    }
    .section-name{
        font-size: 20px;
        margin: 20px 0;

    }
    #wrap-cart{
        float: right;
    }
    .tell-wrap{
        text-align: left;
    }
    footer
    {
        .flex{
            flex-wrap: wrap;
        }
        .botom-footer{
            img{
                width:200px;      
            }
            .soc-wrap a{
                width: 35px;
                height: 35px;
                i{
                    font-size: 16px;
                }
            }
        }
        .wrap-footer-menu ul:first-child{
            margin-right: 15px!important;
        }
        
    } 
    .line-how{
        flex-wrap: wrap;
    }
    .item-how{
        width: 50%;
        margin-bottom: 30px;
        &:last-child{
            margin-bottom: 0;
        }
      

    }
    .about-how i{
        font-size: 30px;
    }
    .mobile-phone{
        display: block!important;
        margin-bottom: 0;
    }
    .tell-wrap a{
        display: none;
        margin-bottom: 0!important;
    }
    .tell-wrap   .mobile-phone i{
        display: block!important;
        position: inherit;
        text-align: right;
    }
}
@media(max-width:605px){
    .search-wrap{
        height: 30px;
        .btn{
            width: 42px;
            i{
                font-size: 12px;
            }
        }

       
    }
   
    .about{
        margin: 0px 0;
        padding: 20px 0;
       
       
        
    }
   
    .box-Post
    {
        .post-bottom .more{
            padding: 10px;
        }
        h4{
            font-size: 16px;
        }
        .box-dscription{
            padding: 15px;
        }
        .img{
            height: 140px;
        }
    } 

 
  
    h4{
        font-size: 20px;
    }
    .wrap-item{
        height: 200px;
        margin-bottom: 15px;
    }


  


.how-home h4{
    font-size: 24px;    
} 
}
@media(max-width:577px){
    .how{
        background-position: bottom;
        padding-bottom: 20px;
    }
    .how h4{
        font-size: 16px;
    }
    section.about-page{
        padding-bottom: 40px;
    }
    section.about-page .chek-line p i{
        width: 15px;
        height: 15px;
       
        &:before{
            font-size: 10px;
        }
    }
    section.about-page .chek-line p span{
        font-size: 13px;
        flex: 0 auto;
    }
   
    section.about-page .wrap-item{
        height: 110px;
        width: 120px;
        margin: 10px auto;
        .nameCat{
            bottom: 5px;
        }
        img{
            width: 81px;

        }
    }
    section.about-page .row{
        margin: 0 15px;
    }
    section.about-page .row .col-6{
        padding-left: 0;
        padding-right: 0;
    }
   
    .search-wrap .btn{
        font-size: 14px;
    }
    #content .title-page{
        font-size: 17px;
    }
    .tell-about  i{
        font-size: 22px;
    }
    .tell-about p span{
        font-size: 20px;
        display: block;
    }
    .text-addition p span{
        font-size: 30px;
        
    }
    .text-addition p{
        font-size: 10px;
    }
   .mob-relative{
       position: relative;
       img{
           position: absolute;
           bottom: 0;
           right: 0px;
           max-width: 325px;
           width: 80%;
       }
   }
    .botton .number{
      flex-direction: column;
       .text-order{
           padding-right: 50%;
           padding-bottom: 50%;
       }
       i{
           margin-bottom: 20px;
       }
    }
    .recw{
        font-size: 15px;
    }
    .info-contact .mail{
        margin-bottom: 16px;
    }
    #content h1{
        font-size: 17px;
    }
    .bread{
        margin: 10px 0;
    }
    .bread li {
        font-size: 10px;
        a{
            font-size: 10px;    
        }
    }
   
    .info-contact p a{
        font-size: 14px;
    }
    .info-contact div i{
        font-size: 16px;
        margin-right: 14px;
    }
    .contact-page section{
        padding: 40px 0;
    }
    .row-map{
        margin: 20px 0;
    }
    .info-contact div{
        margin-bottom: 10px;
    }
   
    .wrap-product {
        margin-right: auto;
        margin-left: auto;
        width: 185px;
        height: 260px;
        .nameProduct{
            font-size: 14px;
            margin-bottom: 5px;
        }
        .block-stiker p{
            font-size: 5px!important;
            padding: 2px 4px;
        }
        .block-stiker{
            top: 2px;
            right: 0;
        }
        .descr{
            padding: 0 14px;
            margin: 0;
            font-size: 11px;
        }
        img{
            width:144px;
        }
        .buy{
            width: 99px;
            font-size: 13.5px;
            padding: 5px 0;
            text-align: center;
            margin-top: 10px;
        }
        .price{
            font-size: 12px;
            margin-bottom: 0;
        }
        p{
            margin: 5px;
        }
        .box-descr{
            bottom: 12px;
        }
        .block-btn{
            display: block;
            top: 2px;
        }
        .block-btn button{
            height: 20px;
            width: 20px;
            i{
                font-size: 10px;
            } 
        }
    }
    .top-line{
        height: 30px;
        a{
            font-size: 12px;
        }
       
    }
    .how-home{
        background-position: right;
        padding-bottom: 15px;
    }
    .box-Post .post-bottom .more{
        font-size: 9px;
        padding: 4px;
    }
    .box-Post .post-bottom  span{
        font-size: 9px;
    }
    .box-Post .box-dscription p{
        font-size: 9px;
    }
    .box-Post h4{
        font-size: 12px;
    }
    .slick-prev::before, .slick-next::before{
        font-size: 18px!important;
    }
    .slick-prev, .slick-next{
        width: 25px!important;
        height: 25px!important;
    }
    #carouselBest .slick-next{
           right:20px!important;
    }
    #carouselBest .slick-prev{
        left: 20px!important;
    }
    .banner-wrap{
        height: 224px;
        position: relative;
        img{
            object-fit: cover;
            object-position: center;
            position: absolute;
            height: 100%;
            width: 100%;
        }
       
    }
    .icon-menu span{
        font-size: 12px;
    }
  
    .icon-menu:before{
        font-size: 20px;
    }
    .top-line .contact-info{
        top: 30px;
    }
    .wrpa-subscrb{
        margin-bottom: 0px;
        padding: 20px 15px;
        h4{
            font-size:10px;
           

        }
        p{
            margin-top: 5px;
            margin-bottom: 20px;
            font-size: 9px;
        }
    }
    footer .wrap-footer-menu ul:first-child{
        margin-right: 0!important;
    }
    footer ul{
        padding-left: 0;
        margin: 0!important;
        width: 50%;
       
    }
    #carouselBlog .box-Post{
      margin-left:auto;
      margin-right: auto;
      max-width: 244px;
      -webkit-box-shadow: 0px 0px 30px 8px rgba(0, 1, 1, 0.16);

-moz-box-shadow: 0px 0px 30px 8px rgba(0, 1, 1, 0.16);

box-shadow: 0px 0px 30px 8px
rgba(0, 1, 1, 0.16);
    }

    footer .botom-footer{
        flex-wrap: wrap;
        justify-content: flex-start;
        
        .soc-wrap{
            margin-top: 20px;
        }
        h5{
            text-align: left;
        }
    }
    footer .item-foter h5{
        text-align: left;
        &:first-child{
            text-align: left;
        }
    }
    footer .botom-footer{
        margin-bottom: 10px;
        padding-bottom: 0;
        img{
            width: 100%;
        }
    }
    footer{
        padding: 15px 0;
    }
    footer .botom-footer .soc-wrap a{
        width: 20px;
        height: 20px;
        i{
            font-size: 10px;
        }
    }
    footer .item-foter:last-child,
    footer .flex .marg{
        width: 50%;
    }
    .wrap-item{
       
        .nameCat{
            bottom: 10px;
            font-size: 18px;
        }
    }
    .box-Post .img{
        height: 125px;
    }
}
@media(max-width:480px){
    .row-info-cont{
        h4{
            font-size: 17px;
            margin-bottom: 16px;
        }
    }
    .section-name{
        font-size: 15px;
        margin: 15px 0;
        &:before{
            margin-right: 10px;
        }
        &:after{
            margin-left: 10px;    
        }
    }
  
    footer .item-foter{
        width: 100%;
    }
    section.about-page{
        .chek-line p{
            font-size: 13px;
        }
    }
    
}
@media(max-width:390px){
    //sertificate
    .downl {
        a{font-size: 14px;
            
        i{
            width: 30px;
            height: 30px;
            &:before{
                font-size: 14px;
            }
        }
    }
    }
    .botton p{
        font-size: 14px;

    }
    .botton i{
        font-size: 30px;
    }
    .number{
        margin-bottom: 30px;
        .one{
            width: 38px;
            height: 38px;
            font-size: 16px;
            margin-right: 19px;
        }
        .text-order{
            h4{
                font-size: 15px;
                margin-bottom: 7px;
            }
            p{
                font-size: 12px;
                a{
                    font-size: 12px;
                    font-family: @font-B;
                    font-weight: bold;
                }
            }
        }
    }
    footer .copy{
        font-size: 6px;
    }
    footer .item-foter:nth-child(3),
    footer .item-foter:nth-child(2){
        margin-top: 30px;
    }
    footer h5{
        margin-bottom: 10px;
    }
    footer .item-foter ul li a{
        font-size: 8px;
        margin-bottom: 8px;
    }
    #contactForm{
        div{
            flex-wrap: wrap;
        }
        .tell,
        .email{
            width: 100%;
        }
        .tell{
            margin-right: 0;
        }
        input{
            height: 37px;
            font-size: 15px;
            padding-left: 7px;
        }
        textarea{
            font-size: 15px;
            height: 37px;
            padding-top: 7px;
            padding-left: 7px;
        }
        button{
            max-width: 130px;
        }
    }
    footer .item-foter:last-child,
    footer .flex .marg{
        width: 50%
       
    }
   
    footer .item-foter a{
        font-size: 10px;
        margin-bottom: 0px;
    }
    footer p, a{
        font-size: 10px;
    }
    .how .container .item-how{
        align-items: flex-start;
        
        p{
            font-size: 9px;
        }
        img{
            width: 30px;
        }
    }
    .about-how{

        .container .item-how p{
            font-size: 11px;
        }
    }
    footer h5{
        font-size: 11px;
    }
    .how-home h4{
        font-size: 13px;
        text-align: left;
    }
    .how-home{
        padding-top: 15px;
    }
    .about p,
    .about .wrap-short-about ul li{
        text-align: left;
        font-size: 9px;
    }
    .about h1{
        font-size: 14px;
        text-align: left;
    }
    .about .wrap-short-about h4{
        text-align: left;
        font-size: 10px;
    }
    .wrap-item{
        height: 115px;
        img{
            max-width: 95px;
        }
        .nameCat{
            font-size: 10px;
        }
    }
}
@import 'variable';