@media (min-width: 1520px) {
  footer p,
  footer a {
    font-size: 19px;
  }
  footer h5 {
    font-size: 1em;
  }
  .how .container {
    padding-left: 18%;
  }
  .how .container .item-how p {
    font-size: 13px;
    margin-top: 20px;
  }
  .relative img {
    left: -16%;
  }
}
@media (min-width: 1800px) {
  .wrpa-subscrb {
    padding-left: 22%;
  }
  .relative img {
    left: -30%;
    width: 590px;
  }
  .text-subscrb h4 {
    font-size: 1em;
  }
  .text-subscrb p {
    font-size: 0.9em;
    margin: 0;
  }
  .how .container {
    padding-left: 13%;
  }
  .how .container .item-how p {
    font-size: 13px;
    margin-top: 20px;
  }
}
@media (max-width: 1440px) {
  .top-line .line-menu li {
    margin: 0 11px;
  }
  .wrap-item {
    padding: 15px 0;
    height: 290px;
  }
  .wrap-item .nameCat {
    font-size: 1.7em;
  }
  .wrap-item img {
    width: 180px;
  }
  .wrap-menu {
    margin-top: 30px;
  }
  .line-logo-ets {
    padding-top: 30px;
  }
  .search-wrap {
    height: 42px;
  }
  .search-wrap .btn {
    height: 48px;
  }
}
@media (min-width: 1160px) {
  .text-subscrb h4 {
    font-size: 0.98em;
  }
  .text-subscrb p {
    font-size: 0.82em;
    margin: 0;
  }
  .how .container {
    padding-left: 415px;
  }
  .how {
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .wrpa-subscrb {
    padding-left: 415px;
  }
  .relative img {
    left: -4%;
    width: 455px;
  }
}
@media (max-width: 1280px) {
  footer p,
  a {
    font-size: 17px;
  }
  .top-line a,
  .wrap-menu nav a {
    font-size: 14px;
  }
  .wrapAbout .mapWrap .grad {
    margin-right: 40px;
  }
  .slick-prev {
    left: 0!important;
    z-index: 99;
  }
  .slick-next {
    right: 0!important;
    z-index: 99;
  }
  .wrap-menu {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    justify-content: center;
  }
  .wrap-menu nav li {
    padding: 10px;
  }
  .wrap-menu nav li a {
    font-size: 18px;
  }
  .line-logo-ets {
    padding-top: 20px;
  }
}
@media (max-width: 1180px) {
  .tell-wrap a {
    margin: 0;
  }
  .how .container .item-how img {
    width: 50px;
  }
  .top-line .line-menu li {
    margin: 0 5px;
  }
  footer .item-foter {
    width: auto;
  }
  footer .item-foter img {
    max-width: 200px;
  }
  .wrapAbout .mapWrap .grad {
    perspective: none;
    margin: 0;
  }
  .tell-wrap i {
    left: 37px;
  }
  footer .flex {
    justify-content: space-between;
  }
  footer .flex .marg {
    margin: 0;
  }
}
@media (max-width: 1150px) {
  .wrpa-subscrb,
  .how .container {
    padding-left: 15px;
  }
  .relative img {
    display: none;
  }
}
@media (max-width: 992px) {
  .text-subscrb h4 {
    font-size: 1em;
  }
  .text-subscrb p {
    font-size: 0.98em;
  }
  .how .container {
    padding: 0 15px;
  }
  .how .container .item-how {
    text-align: center;
    align-items: center;
    -webkit-box-align: center;
  }
  .wrpa-subscrb {
    padding-left: 0;
  }
  .wrpa-subscrb .col-12 {
    padding-left: 15px;
  }
  .relative img {
    display: none;
  }
  .about h1 {
    max-width: 100%;
    text-align: center;
  }
  .how h4 {
    text-align: center;
  }
  .search-wrap input {
    height: 33px;
  }
  .search-wrap #subscrube {
    width: auto;
    height: 48px;
  }
  .search-wrap .btn {
    height: 33px;
    width: 50px;
  }
  .tell-wrap a {
    font-size: 16px;
    padding: 0;
    display: block;
  }
  .tell-wrap p {
    display: none;
  }
  .tell-wrap i {
    display: none;
  }
  #wrap-popup .popup-body .popup-form {
    padding: 20px 15px;
  }
  .doctor-item img {
    max-width: 300px;
    margin: 0 auto 20px;
    display: block;
  }
  .doctor-item p {
    font-size: 14px;
  }
  .doctor-item .name {
    font-size: 16px;
  }
  .tehnology h4,
  h3,
  .rewiew-wrap h4,
  .sience {
    font-size: 20px;
    text-align: center;
  }
  .wrap-item {
    height: 320px;
  }
  .rewiew-wrap .btn {
    max-width: 200px;
    margin: 0 auto;
    padding: 5px 10px;
  }
  .login {
    width: 100%;
    text-align: left;
  }
  .contact-info {
    display: none!important;
  }
  .wrap-menu.fixed {
    display: block;
  }
  nav ul.show {
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
    flex-direction: column;
    z-index: 9999;
    padding: 0;
    margin: 0;
    transition: 0.5s ease-in-out;
  }
  nav ul.show .close {
    position: absolute;
    right: 0;
    left: 10px;
    font-size: 32px;
    font-weight: bold;
    display: block;
    color: #ececec;
    top: 15px;
    cursor: pointer;
  }
  nav ul.show .close b {
    font-size: 14px;
    padding: 8px 0;
  }
  nav ul.show .close:hover {
    color: #ffffff;
  }
  nav ul.show li {
    width: 100%;
    text-align: center;
    line-height: 18px;
    margin: 15px 0;
    max-width: 380px;
  }
  nav ul.show li a {
    font-size: 18px;
    color: #ffffff;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
  }
  nav ul.show li a:hover:before {
    content: none;
  }
  .wrap-menu {
    display: block;
  }
  .wrap-menu ul {
    display: none;
  }
  .icon-menu {
    display: block;
  }
}
@media (max-width: 882px) {
  #wrap-popup .popup-body .popup-form .left {
    width: 100%;
    padding: 0;
  }
  #wrap-popup .popup-body .popup-form .left:after {
    content: none;
  }
  #wrap-popup .popup-body .popup-form .right {
    width: 100%;
    padding: 0;
  }
  .wrap-item {
    height: 240px;
  }
  .itemImage img {
    width: 280px;
  }
  .wrap-social a {
    max-width: 115px;
    padding: 6px 11px;
    font-size: 14px;
  }
  .wrap-social p {
    margin: 15px 0;
    font-size: 14px;
  }
  .wrap-social .namePost {
    font-size: 16px;
  }
}
@media (max-width: 769px) {
  .section-name {
    font-size: 20px;
    margin: 20px 0;
  }
  #wrap-cart {
    float: right;
  }
  .tell-wrap {
    text-align: left;
  }
  footer .flex {
    flex-wrap: wrap;
  }
  footer .botom-footer img {
    width: 200px;
  }
  footer .botom-footer .soc-wrap a {
    width: 35px;
    height: 35px;
  }
  footer .botom-footer .soc-wrap a i {
    font-size: 16px;
  }
  footer .wrap-footer-menu ul:first-child {
    margin-right: 15px!important;
  }
  .line-how {
    flex-wrap: wrap;
  }
  .item-how {
    width: 50%;
  }
}
@media (max-width: 605px) {
  .about {
    margin: 0px 0;
    padding: 20px 0;
  }
  .about p {
    text-align: center;
  }
  .about .wrap-short-about h4 {
    text-align: center;
  }
  .about ul li {
    text-align: center;
  }
  .wrap-product {
    height: 388px;
  }
  .wrap-product .nameProduct {
    font-size: 16px;
  }
  .wrap-product .descr {
    padding: 14px;
    margin: 0;
  }
  .wrap-product p {
    margin: 5px;
  }
  .box-Post .post-bottom .more {
    padding: 10px;
  }
  .box-Post h4 {
    font-size: 16px;
  }
  .box-Post .box-dscription {
    padding: 15px;
  }
  .box-Post .img {
    height: 140px;
  }
  h4 {
    font-size: 20px;
  }
  .wrap-item {
    height: 200px;
    margin-bottom: 15px;
  }
  .how h4 {
    font-size: 24px;
  }
}
@media (max-width: 577px) {
  .wrpa-subscrb {
    margin-bottom: 20px;
  }
  .wrpa-subscrb h4 {
    font-size: 16px;
    text-align: center;
  }
  .wrpa-subscrb p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 14px;
  }
  footer .botom-footer {
    flex-wrap: wrap;
    justify-content: center;
  }
  footer .botom-footer .soc-wrap {
    margin-top: 20px;
  }
  footer .botom-footer h5 {
    text-align: center;
  }
  footer .item-foter h5 {
    text-align: center;
  }
  footer .item-foter h5:first-child {
    text-align: left;
  }
  footer .item-foter:last-child,
  footer .flex .marg {
    width: 50%;
  }
  .wrap-item .nameCat {
    bottom: 10px;
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .box-Post .img {
    height: 200px;
  }
  footer .item-foter {
    width: 100%;
  }
}
@media (max-width: 390px) {
  footer .item-foter:last-child,
  footer .flex .marg {
    width: 100%;
  }
}
.flex {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  align-items: center;
  -webkit-box-align: center;
}
a {
  text-decoration: none;
  transition: 0.5s ease-in-out;
  color: #0099fc;
}
.transition {
  transition: 0.5s ease-in-out;
}
a:hover {
  color: #0099fc;
  transition: 0.5s ease-in-out;
}
.box-shadow {
  -webkit-box-shadow: 2px 13px 10px -6px rgba(0, 1, 1, 0.16);
  -moz-box-shadow: 2px 13px 10px -6px rgba(0, 1, 1, 0.16);
  box-shadow: 2px 13px 10px -6px rgba(0, 1, 1, 0.16);
}
.btn {
  background: #004e90;
  transition: 0.5s ease-in-out;
  border: none;
}
.btn:hover {
  background: #fd3a3a;
  color: #fff !important;
  transition: 0.5s ease-in-out;
  -webkit-box-shadow: 2px 13px 10px -6px rgba(0, 1, 1, 0.16);
  -moz-box-shadow: 2px 13px 10px -6px rgba(0, 1, 1, 0.16);
  box-shadow: 2px 13px 10px -6px rgba(0, 1, 1, 0.16);
  cursor: pointer;
}
